<footer itemscope itemtype="https://schema.org/WPFooter">
    <div id="bg-footer">
         <div class="content-wrap">
             <div id="logo-footer">
                 <img src="assets/globe 1.png" style="margin-right: 5px;">
                 <img src="assets/FIRST.png">
             </div>
             <table id="bottom-nav">
                 <tr>
                    <td><a href="" itemprop="url">About Me</a></td>
                     <td><a href="" itemprop="url">Sign up</a></td>
                     <td style="width: 50px"><a href="" itemprop="url">FAQ</a></td>
                 </tr>
                 <tr>
                     <td><a href="" itemprop="url">Contacts</a></td>
                     <td><a href="" itemprop="url">Log in</a></td>
                     <td style="width: 50px"><a href="" itemprop="url">Help</a></td>
                 </tr>
             </table>
             <div id="telegram-footer">
                 <img src="assets/Frame 8.png" style="margin-right: 5px;">
                 <a  href="https://t.me/vlad_1enko">@vlad_1enko</a>
             </div>
             <p id="bottom-international">International</p>
             <table id="bottom-footer">
                 <tr>
                     <td><a href="" itemprop="acquireLicensePage">Legal</a></td>
                     <td><a href="" itemprop="url">Privacy Center</a></td>
                     <td><a href="" itemprop="url">Privacy Policy</a></td>
                     <td><a href="" itemprop="url">Cookies</a></td>
                     <td><a href="" itemprop="url">About Ads</a></td>
                 </tr>
             </table>
             <p id="bottom-last" itemprop="author">
                 © 2020 Vladislav Firstenko
             </p>
         </div>
     </div> 
 </footer>